<h1>Landing do Site</h1>
<p>Este sistema servirá como agenda para psicólogos organizarem suas consultas</p>

<% if !logado? %>
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/psicologos/new', method: :get%>
<% else %>
    <%= link_to 'Listagem de pacientes', psicologo_pacientes_path(usuario_atual) %>
    <br>
    <%= link_to 'Listagem de sessões', psicologo_sessaos_path(usuario_atual) %>


<%end%>